<!DOCTYPE html>
<html lang="en">
<style>
.wmtws {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 0px;
}
h1 {
    text-align: center;
}
h4 {
    text-align: center;
}
h6 {
    text-align: center;
}
img {
      max-width: 90%;
      display: block;
      height: auto;
      margin-left: auto;
      margin-right: auto;
} 

* {
  box-sizing: border-box;
}

body {
  max-width: 100%;
  margin: auto;
  font-family: Minion, Tahoma, Sans-Serif;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 0px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  max-width: 20%;
  padding: 0 0 10px 0;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Responsive layout - makes a two column-layout instead of four columns */
/*@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}*/

 Responsive layout - makes the two columns stack on top of each other instead of next to each other 
/*@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}*/
</style>
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon2.ico" rel="icon">

  <link href="" rel="stylesheet">


  <title>Matthew Aull</title>

<link href="./static/main.550dcf66.css" rel="stylesheet"></head>

<body> <!-- Add your content of header -->
<header>
  <nav class="navbar navbar-default active">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href=".index.html" title="">
          <img src="./static/assets/favicon2.svg" class="navbar-logo-img" alt="">
          Matthew Aull
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="./project.html" title="">Projects</a></li>
          <li>
            <p>
              <a href="./contact.html" class="btn btn-default navbar-btn" title="">Contact</a>
            </p>
          </li>

        </ul>
      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <h1>#WhatMyTreeWouldSee</h1>
<h4>The view from where my favorite tree once stood</h4>
<h4>2013 - 2020</h4>

<div class="row"> 
    <div class="column">
    </div>
    <div class="column">
        <img src="pictures/wmtws/20130306.jpg" alt="20130306" title="20130306" style="width:100%">
        <img src="pictures/wmtws/20130601.jpg" alt="20130601" title="20130601" style="width:100%">
        <img src="pictures/wmtws/20130928.jpg" alt="20130928" title="20130928" style="width:100%">
        <img src="pictures/wmtws/20140308.jpg" alt="20140308" title="20140308" style="width:100%">
        <img src="pictures/wmtws/20140719.jpg" alt="20140719" title="20140719" style="width:100%">
        <img src="pictures/wmtws/20150425.jpg" alt="20150425" title="20150425" style="width:100%">
        <img src="pictures/wmtws/20151031.jpg" alt="20151031" title="20151031" style="width:100%">
        <img src="pictures/wmtws/20170408.jpg" alt="20170408" title="20170408" style="width:100%">
        <img src="pictures/wmtws/20171225.jpg" alt="20171225" title="20171225" style="width:100%">
        <img src="pictures/wmtws/20180714.jpg" alt="20180714" title="20180714" style="width:100%">
        <img src="pictures/wmtws/20181225.jpg" alt="20181225" title="20181225" style="width:100%">
        <img src="pictures/wmtws/20191006.jpg" alt="20191006" title="20191006" style="width:100%">
    </div>  
    <div class="column">
        <img src="pictures/wmtws/20130406.jpg" alt="20130406" title="20130406" style="width:100%">
        <img src="pictures/wmtws/20130621.jpg" alt="20130621" title="20130621" style="width:100%">
        <img src="pictures/wmtws/20131005.jpg" alt="20131005" title="20131005" style="width:100%">
        <img src="pictures/wmtws/20140511.jpg" alt="20140511" title="20140511" style="width:100%">
        <img src="pictures/wmtws/20140823.jpg" alt="20140823" title="20140823" style="width:100%">
        <img src="pictures/wmtws/20150510.jpg" alt="20150510" title="20150510" style="width:100%">
        <img src="pictures/wmtws/20160521.jpg" alt="20160521" title="20160521" style="width:100%">
        <img src="pictures/wmtws/20170514.jpg" alt="20170514" title="20170514" style="width:100%">
        <img src="pictures/wmtws/20180317.jpg" alt="20180317" title="20180317" style="width:100%">
        <img src="pictures/wmtws/20180818.jpg" alt="20180818" title="20180818" style="width:100%">
        <img src="pictures/wmtws/20190324.jpg" alt="20190324" title="20190324" style="width:100%">
        <img src="pictures/wmtws/20200308.jpg" alt="20200308" title="20200308" style="width:100%">
    </div>
    <div class="column">
        <img src="pictures/wmtws/20130513.jpg" alt="20130513" title="20130513" style="width:100%">
        <img src="pictures/wmtws/20130901.jpg" alt="20130901" title="20130901" style="width:100%">
        <img src="pictures/wmtws/20131109.jpg" alt="20131109" title="20131109" style="width:100%">
        <img src="pictures/wmtws/20140621.jpg" alt="20140621" title="20140621" style="width:100%">
        <img src="pictures/wmtws/20141213.jpg" alt="20141213" title="20141213" style="width:100%">
        <img src="pictures/wmtws/20150809.jpg" alt="20150809" title="20150809" style="width:100%">
        <img src="pictures/wmtws/20160731.jpg" alt="20160731" title="20160731" style="width:100%">
        <img src="pictures/wmtws/20171212.jpg" alt="20171212" title="20171212" style="width:100%">
        <img src="pictures/wmtws/20180401.jpg" alt="20180401" title="20180401" style="width:100%">
        <img src="pictures/wmtws/20181110.jpg" alt="20181110" title="20181110" style="width:100%">
        <img src="pictures/wmtws/20190518.jpg" alt="20190518" title="20190518" style="width:100%">
        <img src="pictures/wmtws/20201101.jpg" alt="20201101" title="20201101" style="width:100%">
      </div>
</div>
    </div>
  </div>

  <div class="section-container">
    <h1>Self Portraits</h1>
    <h4>A self portrait taken a year minus one day apart.</h4>
    <h4>2014 - Present</h4><br>

    <div class="selfportrait">
    <p align="center">March 27, 2014 : Munich, Germany - Museum Brandhorst<img src="pictures/selfportrait/20140327.jpg" alt="20140327" title="20140327" style="width:400px"></p><br>
    <p align="center">March 26, 2016 : North Adams, MA - MASS MoCA<img src="pictures/selfportrait/20160326.jpg" alt="20160326" title="20160326" style="width:400px"><br>
    <p align="center">March 25, 2017 : Beacon, NY - Dia:Beacon<img src="pictures/selfportrait/20170325.jpg" alt="20170325" title="20170325" style="width:400px"><br>
    <p align="center">March 24, 2018 : Los Angeles, CA - The Broad<img src="pictures/selfportrait/20180324.jpg" alt="20180324" title="20180324" style="width:400px"><br>
    <p align="center">March 23, 2019 : Cold Spring, NY - Magazzino Italian Art<img src="pictures/selfportrait/20190323.jpg" alt="20190323" title="20190323" style="width:400px"><br>
    <p align="center">March 22, 2020 : Peekskill, NY - Home Studio<img src="pictures/selfportrait/20200322.jpg" alt="20200322" title="20200322" style="width:400px"><br>
    <p align="center">March 21, 2021 : Beacon, NY - Memorial Park<img src="pictures/selfportrait/20210321.jpg" alt="20210321" title="20210321" style="width:400px"><br>
    </div>  
  </div>

  <div class="section-container">
    <div class="container text-center">
      <div class="row section-container-spacer">
        <div class="col-xs-12 col-md-12">
          
          <h3>Do you like it ?</h3>
          <p>
            <a href="https://facebook.com/" class="social-round-icon fa-icon" title="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/" class="social-round-icon fa-icon" title="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/" class="social-round-icon fa-icon" title="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </p>
        </div>  
      </div>
    
    </div>
  </div>


<footer class="footer-container white-text-container">
  <div class="container">
    <div class="row">

     
      <div class="col-xs-12">
        <h3>Matthew Aull</h3>

        <div class="row">
          <div class="col-xs-12 col-sm-7">
            <p><small>Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></small>
            </p>
          </div>
          <div class="col-xs-12 col-sm-5">
            <p class="text-right">
              <a href="http://www.instgram.com/maulla" title="" class="fa-icon">
                <i class="fa fa-instagram"></i>
              </a>
              <a href="https://www.linkedin.com/in/matthewaull/" title="" class="fa-icon">
                <i class="fa fa-linkedin"></i>
              </a>
            </p>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navActivePage();
    scrollRevelation('.reveal');
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'www.matthewaull.com', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.0cf8b554.js"></script></body>

</html>